{% extends "main/base.html" %}

{% block title %}Welcome {{ name }}{% endblock %}

{% block head %}

    {{ parent() }}

{% endblock %}

{% block content %}

    <div class="container">
        <div class="row row-cols-1 row-cols-md-3">
            <div class="col mb-4">
                <div class="card text-center m-1">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <button class="btn btn-primary w-100">Go somewhere</button>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card text-center m-1">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <button class="btn btn-primary w-100">Go somewhere</button>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card text-center m-1">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <button class="btn btn-primary w-100">Go somewhere</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-3">
            <div class="col mb-4">
                <div class="card bg-light">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card bg-light">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card bg-light">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card bg-light">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-success w-100">Сохранить</button>
    </div>

{% endblock %}



