{% extends "main/base.html" %}

{% block title %}Welcome {{ name }}{% endblock %}

{% block head %}

    {{ parent() }}

{% endblock %}

{% block content %}

    <div class="container" id="cardBlock">
        <div class="row row-cols-1 row-cols-md-3">
            {% for position in positions %}
                <div class="col mb-4">
                    <div class="card text-center m-1">
                        <div class="card-body">
                            <h5 class="card-title">{{ position.position_name }}</h5>
                            <button class="btn btn-primary w-100" data-btn="getdata" data-btnid="{{ position.id }}">Go</button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div id="baseCard" class="d-none">
            <div class="col mb-4">
                <div class="card bg-light">
                    <div class="card-header"></div>
                    <div class="card-body">
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-3"></div>
        <button class="btn btn-success w-100" data-btn="save">Сохранить</button>
    </div>

{% endblock %}



